{% extends 'base.html.twig' %}

{% block title %}
	Tous nos articles
{% endblock %}


{% block body %}
	{% include "commons/_header.html.twig" %}
	<main>
		<!-- Le reste du contenu -->
		<!-- <ul>
			<li>
				<a href="{{path('app_home')}}">Accueil</a>
			</li>
			<li>
				<a href="{{ path('app_articles_index')}}">Articles</a>
			</li>
			<li>
				<a href="profil.html">Profil</a>
			</li>
			<li>
				<a href="panier.html">Panier</a>
			</li>
		</ul> -->
		<div class="grid-box">
			{% for article in articles %}
				<div class="container">
					<div class="card">
						<div class="imgBx">
							<img src="{{asset('assets/upload_directory/' ~ article.images)}}" alt="{{article.name}}"class="card__img">
						</div>

						<div class="contentBx">

							<span class="card__footer">
								<span>{{article.name}}
									{#Affiche l'édition seulement si le rôle admin est actif #}
								{% if is_granted("ROLE_ADMIN") %}
									<a href="{{ path('app_articles_edit', {'id': article.id}) }}">Editer</a>
								{% endif %}
								</span>
								{% if app.user %}
								<a href="{{ path('app_articles_show', {'id': article.id}) }}">Détails<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
									<path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
								  </svg></a>
								{% else %}
								<a href="{{ path('app_login') }}">Connectez-vous !</a>
								{% endif %}
								
							</span>
								
						</div>

					</div>
				</div>

			{% endfor %}

		</div>


		{# Pareil, seulement l'admin peut crée des box#}
		{% if is_granted("ROLE_ADMIN") %}
			<a href="{{ path('app_articles_new') }}">Create new</a>
		{% endif %}

		
	</main>
	{% include "commons/_footer.html.twig" %}
{% endblock %}
