{% extends 'base.html.twig' %}

{% block title %}
	Tous nos articles
{% endblock %}


{% block body %}
	{% include "commons/_header.html.twig" %}
	<main>
		<!-- Le reste du contenu -->
		<!-- <ul>
			<li>
				<a href="{{path('app_home')}}">Accueil</a>
			</li>
			<li>
				<a href="{{ path('app_articles_index')}}">Articles</a>
			</li>
			<li>
				<a href="profil.html">Profil</a>
			</li>
			<li>
				<a href="panier.html">Panier</a>
			</li>
		</ul> -->
		<div class="grid-box">
			{% for article in articles %}
				<div class="container">
					<div class="card">
						<div class="imgBx">
							<img src="{{asset('assets/upload_directory/' ~ article.images)}}" alt="{{article.name}}"class="card__img">
						</div>

						<div class="contentBx">

							<span class="card__footer">
								<span>{{article.name}}
									{#Affiche l'édition seulement si le rôle admin est actif #}
								{% if is_granted("ROLE_ADMIN") %}
									<a href="{{ path('app_articles_edit', {'id': article.id}) }}">Editer</a>
								{% endif %}
								</span>
								<a href="{{ path('app_articles_show', {'id': article.id}) }}">Afficher</a>
								
							</span>
								
						</div>

					</div>
				</div>

			{% endfor %}

		</div>


		{# Pareil, seulement l'admin peut crée des box#}
		{% if is_granted("ROLE_ADMIN") %}
			<a href="{{ path('app_articles_new') }}">Create new</a>
		{% endif %}

		
	</main>
	{% include "commons/_footer.html.twig" %}
{% endblock %}
