{% extends 'base.html.twig' %}

{% block title %}
	Tous nos articles
{% endblock %}

{% block body %}
	<h1>Faites votre choix</h1>

	<table class="table">

		<tbody>
			{% for article in articles %}
				<tr>
					<td>{{ article.name }}</td>
					<td>{{ article.description }}</td>
					<td>{{ article.price }}
						€</td>
					<td><img src="{{ asset('assets/upload_directory/' ~ article.images) }}" alt={{article.name}}></td>
				</tr>
				<td>
					<button>Commander</button>
				</td>
			</td>


			<td>
				<a href="{{ path('app_articles_show', {'id': article.id}) }}">Afficher</a>

				{#Affiche l'édition seulement si le rôle admin est actif #}
				{% if is_granted("ROLE_ADMIN") %}
					<a href="{{ path('app_articles_edit', {'id': article.id}) }}">Editer</a>
				</td>
			{% endif %}
		</tbody>
	</tr>
{% else %}
	<tr>
		<td colspan="5">Notre site a soit fermé, ou soit en maintenances</td>
	</tr>
{% endfor %}</tbody></table>{# Pareil, seulement l'admin peut crée des box#}{% if is_granted("ROLE_ADMIN") %}<a href="{{ path('app_articles_new') }}">Create new</a>{% endif %}{% if app.user %}{{ app.user.email }}<a href="{{ path('app_logout') }}">
Se déconnecter</a>{% else %}<a href="{{ path('login') }}">
Se connecter</a>{% endif %}{% endblock %}
