<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		<link rel="icon" href="{{asset('assets/img/cart.png')}}" type="image/png">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/register.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/nav.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/index.css')}}">
		<link rel="stylesheet" href="{{asset('assets/css/show.css')}}">
		<link rel="stylesheet" href="{{asset('assets/css/card.css')}}">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
	</head>

	<body>
		{% block body %}

		{% endblock %}
	</body>
</html>
